@media screen and (max-width: 576px) and (min-width:100px)
     {
        .serviciomobile{
            padding-left: 15px;
        }
        .navbar-mia{
            justify-content: start;
        }
       
        .blackrosetitulo {
            
           align-items: start;
           padding-top: 10px;
           
        }
        .biografialogo{
            width: 50%;
            height: 50%;
        }
        p, h5, li{
            font-size: medium;
        }
        h2{
            font-size: medium;
        }
        .blackrosetitulo{
            display: none;
        }
        .titulo-ins, .tiempo-ins, .bpm-ins, .tags-ins{
            display: none;
        }
        .mobile-none{
            display: none;
        }
        .contenedor-comprar{
            padding-left: 150px;
        }
        .MyM{
           padding-left: 16px; 
           padding-right: 16px;
        }
        .mibiografia{
            padding-left: 16px; 
           padding-right: 16px;
        }
        .contenedor-comprar{
           margin-left: -40px;
        }
        .mobilebeat{
            padding-left: 25px;
        }
        
     }